.footer {
  color: #fff;
  margin-top: 30px;

  background-color: #242528;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 30px 0;
  border-bottom: 2px solid #fff;
}

.contact p,
.contact h3 {
  cursor: pointer;
  margin: 0 5px;
  font-size: 10px;
}

.contact h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}

.sosmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.sosmed i {
  margin-right: 15px;
}

.ig,
.fb,
.wa {
  display: flex;
}

.alamat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
}

.alamat p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.copyright {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.copyright p {
  margin: 0px 20px;
  padding-bottom: 20px;
}

/* FONT SIZE */
.alamat,
.copyright,
.sosmed {
  font-size: 12px;
}

.alamat h5 {
  font-size: 18px;
}

@media (min-width: 992px) {
  .footer {
    margin-top: 100px;
  }

  .contact p,
  .contact h3 {
    cursor: pointer;
    margin: 0 50px;
    font-size: 16px;
  }
  .contact h3 {
    font-size: 18px;
  }
  .alamat,
  .copyright,
  .sosmed {
    font-size: 16px;
  }
  .alamat h5 {
    font-size: 20px;
  }
  .copyright p {
    margin: 0px 40px;
  }
}
