.centerize {
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: min(100%, calc(100vh - 2rem));
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* background: rgba(119, 119, 119, 0.5); */
  margin: 1rem;
  border-radius: 4px;
  overflow: hidden;
}

.section {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
}

.loader {
  position: relative;
  display: block;
  width: 4em;
  height: 4em;
}

.loader:before,
.loader:after {
  position: absolute;
  content: "";
  top: calc(50% - 0.5em);
  left: calc(50% - 2em);
  display: block;
  border-radius: 2px;
  width: 1em;
  height: 1em;
  transform-origin: 200%;
  animation: cubes 1s infinite linear;
  opacity: 1;
}

.loader:before {
  background: hsl(50, 100%, 50%);
  animation-delay: -1s;
}

.loader:after {
  background: hsl(80, 20%, 65%);
  animation-delay: -0.5s;
}

@keyframes cubes {
  to {
    transform: rotate(359deg);
    opacity: 0;
  }
}

.loading,
.configure {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
