.orderDetail h5 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
}

.orderMenu h6 {
  padding: 5px 20px;
}

@media (max-width: 992px) {
  .orderId h4 {
    font-size: 18px;
  }
  .orderDetail h5 {
    font-size: 16px;
  }
  .orderDetail p,
  .orderDetail span {
    font-size: 14px;
  }

  .orderMenu h6 {
    padding-left: 0px;
  }
}
